@font-face {
    font-family: "Gothic Regular";
    src: url(../fonts/Gothic_A1/GothicA1-Regular.ttf);
}

@font-face {
    font-family: "Gothic Light";
    src: url(../fonts/Gothic_A1/GothicA1-Light.ttf);
}

@font-face {
    font-family: "Medieval Regular";
    src: url(../fonts/MedievalSharp/MedievalSharp-Regular.ttf);
}

:root {
    --clr-700: #D2A680;
    --clr-400: #FBCEA0;
    --clr-100: #ffffff;

    --fs-100: 1rem;
    --fs-200: 1.25rem;
    --fs-300: 1.5rem;
    --fs-400: 1.75rem;
    --fs-500: 2rem;

    --radius-400: 4px;
    --radius-600: 8px;
    --radius-900: 12px;

    --ff-Gothic-Regular: "Gothic Regular", sans-serif;
    --ff-Gothic-Bold: "Gothic Bold", sans-serif;
    --ff-Gothic-Light: "Gothic Light", sans-serif;
    --ff-Medieval-Regular: "Medieval Regular", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

video {
    height: 100vh;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--clr-100);
    position: relative;
}

h1 {
    font-family: var(--ff-Gothic-Light);
}

h2 {
    color: var(--clr-400);
    font-size: var(--fs-400);
    text-transform: uppercase;
}

h3 {
    font-family: var(--ff-Gothic-Regular);
    font-weight: 400;
    font-size: var(--fs-100);
}

body {
    font-family: var(--ff-Medieval-Regular);
    color: var(--clr-100);
    background: center/cover no-repeat fixed url(../img/smoke-bg.jpg);
}

/* NAV BAR */

nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    padding: 10px 10%;
    z-index: 999;
}

.nav__image {
    max-width: 150px;
}

nav ul {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
}

nav a {
    font-size: 0.8rem;
    color: var(--clr-400);
}

/* UTILITIES */

.btn {
    position: relative;
    padding: 0.7rem 1rem;
    border-radius: var(--radius-400);
    background-color: rgba(0, 0, 0, 0.571);
}

.btn::after {
    content: "";
    position: absolute;
    inset: 0;
    filter: blur(2px);
    z-index: -1;
}

.btn.btn--nav {
    background-color: var(--clr-400);
    color: black;
}

.btn.btn--banner {
    border-radius: var(--radius-900);
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.border {
    border: 2px solid var(--clr-400);
    border-radius: 4px;
}

.container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
}

.z-index {
    position: relative;
    z-index: 1;
}

/* VIDEO */

.video {
    position: relative;
}

.party {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);
}

.party p {
    font-size: var(--fs-500);
    color: var(--clr-400);
}

/* SECTION HONORIFIQUE */

#honorifique {
    display: flex;
    flex-wrap: wrap;
    margin: 5rem auto;
    padding: 1rem 2rem;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    background: center/cover url(../img/awards-bg.png);
}

.honorifique__text {
    max-width: 200px;
}

.honorifique__image {
    max-width: 175px;
}

.honorifique__text h2 {
    font-size: var(--fs-500);
}

/* SECTION RACE */

.container__main {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 1rem;
}

.container__races {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 4rem;
    max-width: 50%;
    background: center/cover no-repeat url(../img/races-bg.jpg);
}

.races__image {
    text-align: center;
    width: 20%;
}

.container__races-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    max-width: 50%;
    padding: 0.5rem 1rem;
    text-align: center;
}

.container__races-info h4 {
    font-size: xx-large;
    color: var(--clr-700);
}

.container__races-info p {
    font-family: var(--ff-Gothic-Regular);
    color: var(--clr-700);
}

.line {
    position: relative;
    width: 40%;
    height: 2px;
    background: linear-gradient(to right,#DECAAF, var(--clr-700));
}

.line::before {
    content: "";
    height: 8px;
    width: 8px;
    position: absolute;
    left: -8px;
    bottom: 0.5px;
    transform: translate(0%, 50%);
    background: url(../svg/decoration-line--before.svg);
}

.big-line {
    width: 95%;
    height: 1px;
    background-color: var(--clr-700);
}

/* banner */

#banner {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: center/cover no-repeat url(../img/buy-now-background.jpg);
}

.banner__description { 
    font-family: var(--ff-Gothic-Light);
    font-size: 0.7rem;
    opacity: 70%;
    margin-bottom: 1rem;
}

.banner__btn {
    display: flex;
    flex-wrap: wrap;
    padding-block: 25px;
    gap: 0.3rem;
}

.banner__btn a {
    display: block;
}

/* SECTION NEWS */

.card-container {
    display: flex;
    justify-content: center;
    min-height: 120px;
    gap: 3rem;
    margin: 1rem 0 5rem;
}

.card {
    position: relative;
    padding: 1rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 40%
}
.card::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.423);
    position: absolute;
    inset: 0;
    z-index: 0;
}

.card p {
    font-family: var(--ff-Gothic-Regular);
    margin: 1rem 0;
}

.card a {
    color: var(--clr-700);
    text-transform: uppercase;
}

.news-1 {
    background-image: url(../img/news-1.jpg);
}

.news-2 {
    background-image: url(../img/news-2.jpg);
}

.news-3 {
    background-image: url(../img/news-3.jpg);
}

/* SECTION FAN-ART */

#fanart {
    text-align: right;
}

.fanart__container {
    display: grid ;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0.5rem;
    margin-top: 1rem;
}

.fanart__card {
    height: 300px;
    min-width: 150px;
    background-position: center;
    background-size: cover;
    border-radius: 12px;
}

.fanart__card-1 {
    background-image: url(../img/gallery-1.jpeg);
}

.fanart__card-2 {
    background-image: url(../img/gallery-2.webp);
}

.fanart__card-3 {
    background-image: url(../img/gallery-3.webp);
}

.fanart__card-4 {
    background-image: url(../img/gallery-4.jpeg);
}

.fanart__card-5 {
    background-image: url(../img/gallery-5.jpeg);
}

.fanart__card-6 {
    background-image: url(../img/gallery-6.png);
}

.fanart__card-7 {
    background-image: url(../img/gallery-7.webp);
}

.fanart__card-8 {
    background-image: url(../img/gallery-8.jpeg);
}

/* SECTION DIGITAL */

#digital {
    max-width: 850px;
    margin: 3rem auto;
}

.digital__container {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    justify-content: space-between;
    background: bottom/cover no-repeat url(../img/cta-bg.png);
}


.digital__container p {
    font-family: var(--ff-Gothic-Regular);
}

.digital__container a {
    border-radius: var(--radius-900);
    padding: 0.5rem;
}

/* FOOTER */

.container--footer {
    display: flex;
    max-width: 1280px;
    gap: 3rem;
    padding-block: 2rem;
    border-bottom: 1px solid var(--clr-700);
    border-top: 1px solid var(--clr-700);
}

.container--footer a {
    font-family: var(--ff-Gothic-Regular);
    color: var(--clr-700);
}

.container--footer h3 {
    color: var(--clr-400);
    font-size: var(--fs-500);
}

.social-media {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

.social-media p {
    font-family: var(--ff-Gothic-Regular);
}

.container--footer li {
    margin-bottom: 0.5rem;
}

.container--footer li:first-child {
    margin-top: 0.5rem;
}

.terms {
    max-width: 1280px;
}

.terms ul {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 4rem;
}

.terms a {
    font-family: var(--ff-Gothic-Regular);
}